*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


html{
    font-size: 62.5%;
}

body.body{
    background: navy;
}

.wrapper{
    max-width: 102.4rem;
    margin: 4rem auto;
    padding: 5rem 2rem 2rem;
    background: white;
}

.main-table{
    font-size: 1.8rem;
    line-height: 1.54;
    margin: 0 auto;
    border: 2px solid grey;
    border-collapse: collapse;
}

.main-table thead{
    background: lightblue;
}

.main-table thead tr:hover{
    background: lightblue;
}

.main-table tr{
    transition: all 0.3s;
}

.main-table tr:nth-child(2n){
    background: lightgrey;
}

.main-table tr:hover{
    background-color: gold;
}

.main-table td, .main-table th{
    height: 3rem;
    padding: 0 2rem;
    text-align: left;
    transition: all 0.6s;
}

.main-table td a,
.main-table td a:hover,
.main-table td a:focus,
.main-table td a:active,
.main-table td a:visited
{
    color: black;
    text-decoration: none;
}

.main-table th:hover{
    color: crimson;

}

.input-container{
    text-align: center;
    margin: 2rem auto;
}

.input{
    margin: 0 1rem;
}

.label{
    font-size: 1.6rem;
}

.description{
    display: inline-block;
    font-size: 1.6rem;
}

.button{
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background: lightblue;
    border: none;
    box-shadow: none;
    transition: all 0.5s;
}

.button:hover, .button:focus{
    background: crimson;
}

.button:active{
    opacity: 0.5;
}

.button--disabled{
    background: lightgrey;
}

.button--disabled:hover, .button--disabled:active, .button--disabled:focus{
    background: lightgrey;
    opacity: 1;
}

.button-left{
    margin-right: 7rem;
}

.button-right{
    margin-left: 7rem;
}

.product-card__description{
    width: 70%;
    float: right;
    font-size: 1.6rem;
}

.product__img{
    width: 28%;
    margin-right: 2%;
    float: left;
}

.product-card__title{
   margin-bottom: 2rem;
}

.product-card__tab{
    padding: 2rem;
}

.nav-tabs .nav-link{
    font-size: 1.6rem;
}

.product-card__table td{
    padding: 0 2rem;
}

.product-card__table-name{
    font-weight: 300;
    color: #555555;
}

.review{
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}

.review:last-child{
    margin-bottom: 0;
}

.review__text{
    width: 77%;
    float: left;
    margin-right: 3%;
}

.review__rating{
    width: 20%;
    float: right;
}

.star{
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}